<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
                <a th:href="@{/search}" class="navbar-brand">Search</a>
                <a th:href="@{/list}" class="navbar-brand">List</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

<div th:fragment="search-html">
    <table class="job-listing table-striped table-hover">
        <thead th:if="${searchResults}">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Employer</th>
            <th>Location</th>
            <th>Position Type</th>
            <th>Skill</th>
        </tr>
        </thead>
        <tr th:each="jobResults : ${searchResults}">
            <td th:text="${jobResults.id}">ID</td>
            <td th:text="${jobResults.name}">Name</td>
            <td th:text="${jobResults.employer}">Employer</td>
            <td th:text="${jobResults.location}">Location</td>
            <td th:text="${jobResults.positionType}">Position Type</td>
            <td th:text="${jobResults.coreCompetency}">Core Competency</td>
        </tr>
    </table>

</div>

</body>
</html>