<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />
</div>

<!-- TODO #4 - Loop over the search results to display all job fields. -->

<!--<div th:replace="fragments :: search-html"></div>-->


<table class="job-listing table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Employer</th>
            <th>Location</th>
            <th>Position Type</th>
            <th>Skill</th>
        </tr>
        </thead>
    <tr th:each="jobResults : ${searchResults}">
        <td th:text="${jobResults.id}">ID</td>
        <td th:text="${jobResults.name}">Name</td>
        <td th:text="${jobResults.employer}">Employer</td>
        <td th:text="${jobResults.location}">Location</td>
        <td th:text="${jobResults.positionType}">Position Type</td>
        <td th:text="${jobResults.coreCompetency}">Core Competency</td>
    </tr>
</table>


<!--<table class="job-listing table-striped table-hover">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Name</th>-->
<!--        <th>Employer</th>-->
<!--        <th>Location</th>-->
<!--        <th>Position Type</th>-->
<!--        <th>Skill</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tr th:each="jobSelected : ${jobs}">-->
<!--        <td th:text="${jobSelected.id}">ID</td>-->
<!--        <td th:text="${jobSelected.name}">Name</td>-->
<!--        <td th:text="${jobSelected.employer}">Employer</td>-->
<!--        <td th:text="${jobSelected.location}">Location</td>-->
<!--        <td th:text="${jobSelected.positionType}">Position Type</td>-->
<!--        <td th:text="${jobSelected.coreCompetency}">Skill</td>-->
<!--    </tr>-->
<!--</table>-->


</body>
</html>